<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">ForkonLP는 한글분석연구의 활성화를 기대합니다.</h2>
                <hr class="light">
                <p class="text">언어 연구가 활성화되어 많은 양의 말뭉치(코퍼스)가 필요하게 되었습니다.<br>
                                하지만 한글 언어 연구를 위한 데이터는 많이 공개되어 있지 않은 것이 현실입니다.<br>
                                이런 문제를 해결하기 위해 ForkonLP는 다음과 같은 미션을 가지고 있습니다.</p>
                <a href="#mission" class="btn btn-default btn-xl page-scroll">미션 살펴보기</a>
            </div>
        </div>
    </div>
</section>
