<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">ForkonLP는 한글분석연구의 활성화를 기대합니다.</h2>
                <hr class="light">
                <p class="text">통계기반의 분석연구로 패러다임이 넘어가면서 텍스트 분석을 위해서는 많은 양의 데이터(말뭉치-코퍼스)가 필요하게 되었습니다.
                                    하지만 한글 분석 연구를 위한 기반 데이터가 구축되어 공개적으로 활용되는 사례는 세종프로젝트가 유일합니다. 10년동안 구축된 대단한 성과물임에는 분명합니다만 최근의 연구 트랜드를 따라가기에는 벅찬 실정입니다.
                                    ForkonLP는 저작권 문제가 없는 자료와 구어 텍스트 수집을 위한 기부, 오픈 소스 한글 OCR 프로젝트 등 한글 텍스트 자료를 수집하고 공개하기 위한 프로젝트로 시작했습니다.
                                    아래에 ForkonLP의 미션이 있습니다.</p>
                <a href="#" class="btn btn-default btn-xl">미션 살펴보기</a>
            </div>
        </div>
    </div>
</section>
