<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">연락해주세요!</h2>
                <hr class="primary">
                <p>여러분의 도움없이는 프로젝트를 계속하기 어렵습니다. 자료 기부, 개발, 자금, 홍보 등 도움이 필요한 부분이 많습니다. 아래로 언제든지 연락주세요.</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://{{ site.slack_username }}.herokuapp.com/">
                <i class="fa fa-slack fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.slack_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>

    </div>
</section>
