<section class="no-padding" id="project">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://forkonlp.github.io/N2H4/" class="portfolio-box">
                    <img src="img/project/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="portfolio-category text-faded">
                                수집도구
                            </div>
                            <div class="project-name">
                                N2H4(네이버 뉴스)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://forkonlp.github.io/DNH4" class="portfolio-box">
                    <img src="img/project/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="portfolio-category text-faded">
                                수집도구
                            </div>
                            <div class="project-name">
                                DNH4(다음 뉴스)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://forkonlp.github.io/kolloquial/" class="portfolio-box">
                    <img src="img/project/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="portfolio-category text-faded">
                                기부도구
                            </div>
                            <div class="project-name">
                                kolloquial(구어체 말뭉치)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://forkonlp.github.io/kolift/" class="portfolio-box">
                    <img src="img/project/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="portfolio-category text-faded">
                                수집도구
                            </div>
                            <div class="project-name">
                                kolift(저작권 프리 말뭉치)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://forkonlp.github.io/Kabelfish/" class="portfolio-box">
                    <img src="img/project/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="portfolio-category text-faded">
                                수집도구
                            </div>
                            <div class="project-name">
                                Kabelfish(한영 병렬 말뭉치)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://forkonlp.github.io/hwpdfer/" class="portfolio-box">
                    <img src="img/project/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="portfolio-category text-faded">
                                변환도구
                            </div>
                            <div class="project-name">
                                hwpdfer(hwp to pdf)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
